body{
    background-color: #fdfaf7;
	margin: 0;
    padding: 0;
	width: 100%;
}

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 4vw; /* Place the button at the bottom of the page */
  right: 1vw; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b9753a; /* Set a background color */
  color: #f8f5ee; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1vw; /* Some padding */
  border-radius: 0.6vw; /* Rounded corners */
  font-size: 0.9vw; /* Increase font size */
}

#myBtn:hover {
	background-color: #313b41; /* Add a  background on hover */
	color: #b9753a;
}
.header{
	    padding:30px;
		text-align: center;
		background-color: #fdfaf7;
}

.title{
	color: #57777e;
	text-align: center;
	font-weight: bold;
	font-size:40px;
	margin-top:-10px;
}


.nav{
	margin-top:0px;
	text-align:center;
	width:100%;
	height:2.1vw;
}
.nav ul{
	text-align:center;
	display:inline-block;
	list-style: none;
	padding:0px;
	margin: 0px;
}
.nav ul li{
	float:left;
	margin-top:0.35vw;
}

@media screen and (max-width:10000px){
.nav ul li a {
	width:15vw;
	color:#4f5655;
	display:block;
	text-decoration:none;
	font-size:0.8vw;
	text-align:center;
	padding:0.26vw;
	border-radius:0.53vw;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
}

@media screen and (max-width:700px){
.nav ul li a {
    width:20vw;
	color:#4f5655;
	display:block;
	text-decoration:none;
	font-size:10px;
	text-align:center;
	padding:0.26vw;
	border-radius:0.53vw;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
}

.nav a:hover{
	background:#fdfaf7;
}

.nav ul li a:hover {
	color: #e7b33f;
}

.nav ul li ul{
	background:#fdfaf7;
}
.nav ul li ul li{
	float:none;
}
.nav ul li ul{
	display:none;
}
.nav ul li:hover ul{
	display:block;
}


.intro1{
	width: 85%;
    height:210vw;
	background-color:#pink;
	margin:0 auto;
	margin-top:5%;
}

.d{
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.mvimg{
	width:40%;
	float:left;
	border: 0.2vw solid #979797;
	background-color:#fdfaf7;
}

.mvimg img{
	width:100%;
	margin-top:0.8rem;
}

.mvimg:hover img{

}

.mvimg {
  #border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.text1{
	width:60%;
	border: 0.2vw solid #979797;
	border-left: none;
    float:right;
	background-color:#fdfaf7;
}

.dd{
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.text2{
	width:60%;
	border: 0.2vw solid #979797;
	margin-top:2%;
	background-color:#fdfaf7;
}

.zbimg{
	width:40%;
	border: 0.2vw solid #979797;
	border-left: none;
	float:right;
	margin-top:2%;
	background-color:#fdfaf7;
}

.zbimg img{
	width:100%;
	margin-top:0.8rem;
}

.zbimg:hover img{

}

.zbimg {
  #border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content2, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px){
  .modal-content2 {
    width: 100%;
  }
}

.ddd{
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.rzimg{
	width:40%;
	border: 0.2vw solid #979797;
	float:left;
	margin-top:2%;
	background-color:#fdfaf7;
}

.rzimg img{
	width:100%;
	margin-top:0.8rem;
}

.rzimg:hover img{

}

.rzimg {
  #border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

#caption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content3, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px){
  .modal-content3 {
    width: 100%;
  }
}

.text3{
	width:60%;
	border: 0.2vw solid #979797;
	border-left: none;
    float:right;
	margin-top:2%;
	background-color:#fdfaf7;
}

.dddd{
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.text7{
	width:60%;
	border: 0.2vw solid #979797;
	border-left: none;
    float:right;
	background-color:#fdfaf7;
}

.web7img{
	width:40%;
	border: 0.2vw solid #979797;
	float:left;
	background-color:#fdfaf7;
}

.web7img img{
	margin-top:0.8rem;
	width:100%;
}

.ddddd{
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.text8{
	width:60%;
	border: 0.2vw solid #979797;
	border-left: none;
    float:right;
	background-color:#fdfaf7;
	margin-top:2%;
}

.web8img{
	width:40%;
	border: 0.2vw solid #979797;
	float:left;
	background-color:#fdfaf7;
	margin-top:2%;
}

.web8img img{
	margin-top:0.8rem;
	width:100%;
}

.anvideo1{
	float:left;
	margin-top:2%;
	margin-left:16.5%;
    width: 67%;
	height:20%;
	background-color: #white;
}

.anvideo1 video{
	width:100%;
}

.anvideo2{
	float:left;
	border-bottom: 0.15vw solid #979797;
	padding-bottom:-20vw;
	margin-top:-1%;
	margin-left:16.5%;
    width: 67%;
	height:18%;
	background-color: #white;
}

.anvideo2 video{
	width:100%;
}

.text6{
	float:left;
	margin-top:1%;
	margin-left:15%;
    width: 70%;
	height:5%;
	background-color: #white;
}


.footer{
	background:#504a32;
	padding:30px;
	opacity:0.7;
}
.footertext{
	text-align:center;
}
.footertext p {
    color: white;
    font-size:1vw;
    margin: 0;
}